#courses {
  #home {
    height: 50vh;
    background-image: linear-gradient(rgba(3, 57, 78, 0.5), rgba(3, 57, 78, 0.5)), url('https://img.freepik.com/premium-photo/green-environment-office-buildings-science-technology-park-chongqing-china_1112-9189.jpg?w=1380');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
      font-family: $fontSans;
      color: #ffd670;
      font-size: clamp(1.5rem, 1.143rem + 1.786vw, 2rem);
      text-transform: uppercase;

      span {
        color: white;
      }
    }
  }

  #levels {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;

    .levelbox {
      text-decoration: none;
      width: 50%;
      padding: 0.5rem;
      color: white;

      svg {
        width: 32px;
        height: 32px;

      }

      h2 {
        font-family: $fontSans;
        font-size: 20px;
        margin: 0 0 1rem 0;
      }

      &.Engineering {
        background-color: #1D8755;
      }

      &.Socials {
        background-color: #2F78C6;
      }

      &.Laws {
        background-color: #A06931;
      }

      &.Medicine {
        background-color: #DF0C83;
      }
    }

    @media (min-width: 426px) {
      flex-direction: row;
      padding: 0 1rem;
      margin-top: -25px;
      padding-bottom: 2.5rem;
    }
  }

  #diary {
    background-color: #414b4f;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin: 0 0 3rem 0;
      color: white;
      font-family: $fontSans;
      font-size: 40px;
    }

    .dates {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      .date {
        background-color: #fcb900;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: $fontSans;
        padding: 1rem;

        h4 {
          color: white;
          text-transform: uppercase;
          font-size: 24px;
          margin-bottom: 0;
        }

        p {
          color: black;
          text-align: center;
        }
      }

      @media (min-width: 426px) {
        flex-direction: row;
        padding: 0 1rem;
        margin-top: -25px;
        padding-bottom: 2.5rem;
        gap: 0;

        .date {
          height: 170px;

          h4 {
            margin-top: 0;
            margin-bottom: 1rem;
          }

          p {
            font-size: 12px;
            margin: 0;
          }
        }
      }
    }
  }

  #alumni {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://img.freepik.com/free-photo/chinese-city_1127-3682.jpg?w=1380&t=st=1698440673~exp=1698441273~hmac=17a514ac582cf3238902fead75b27e7ba9641c018a280d2a3868e8112ff087de");
    background-size: cover;
    background-position: center;
    gap: 1rem;
    padding: 2.5rem 0;

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: white;
      background-color: rgba(0, 0, 0, 0.3);
      width: 150px;
      height: 100px;
      justify-content: center;
      border-radius: 15px;
      font-family: $fontSans;
      gap: 0.5rem;
      font-weight: 700;

      svg {
        width: 32px;
        height: 32px;
      }

      .number {
        color: #fcb900;
      }

    }
  }


}