.course {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  box-sizing: border-box;
  .calendar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 3rem;
    max-width: 3rem;
    height: 5rem;

    svg {
      background-color: #58608D;
      box-sizing: border-box;
      color: white;
      aspect-ratio: 1/1;
      flex-grow: 1;
      width: 100%;
      padding: 0.5rem;
    }

    >span {
      background-color: #E76A00;
      color: white;
      text-transform: uppercase;
      text-align: center;
      padding: 0.1rem 0;
      font-size: 14px;
      font-family: var(--fontSans);
    }

  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: calc(100% - 6rem);

    h3 {
      margin: 0;
      font-size: clamp(1rem, 0.806rem + 0.304vw, 1.17rem);
    }

    p {
      margin: 0.5rem 0 0 0;
      font-size: clamp(0.75rem, 0.464rem + 0.446vw, 1rem);
    }

    .extra {
      display: flex;
      flex-direction: row;
      align-items: center;

      svg {
        color: #E76A00;
        vertical-align: baseline;
      }

      span {
        padding: 0 0.5rem;
        font-size: clamp(0.75rem, 0.464rem + 0.446vw, 1rem);
      }
    }
  }

  @media screen and (orientation: landscape) {
    min-width: 50%;
    width: 50%;
    max-width: 50%;
  }
}