#engineering,
#socials,
#laws,
#medicine {

  h3 {
    text-transform: uppercase;
    font-family: var(--fontSans);
    font-size: 40px;
    margin: 0;
  }

  hr {
    margin: 1rem 0 3rem 0;
    width: 3rem;
    border: 2px solid #ffd670;
    border-radius: 1rem;
  }

  .type {
    padding-top: 5rem;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      text-transform: uppercase;
      font-size: 64px;
      font-family: var(--fontSans);
      margin: 2rem 0;
      color: white;
    }
  }

  .motto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;

    h2 {
      width: 50%;
      text-align: center;
      margin: 0;
      color: white;
      font-size: clamp(2.5rem, 1.786rem + 1.116vw, 3.125rem);
      font-family: var(--fontSans);

      span {
        color: #ffd670;
      }
    }
  }

  .info {
    background-color: #f9f7f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;

    .parts {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      margin-bottom: 4rem;

      .option {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: clamp(15rem, 9.286rem + 8.929vw, 20rem);
        height: 5rem;
        color: #03394e;

        h4 {
          margin: 0.25rem 0;
          font-family: var(--fontSans);
          font-size: clamp(1.25rem, 0.679rem + 0.893vw, 1.75rem);
        }

        svg {
          min-width: clamp(3rem, 0.714rem + 3.571vw, 5rem);
          height: clamp(3rem, 0.714rem + 3.571vw, 5rem);
        }
      }
    }
  }

  .pedagogic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: clamp(57.6rem, 41.143rem + 25.714vw, 72rem);

    h3 {
      margin-top: 3rem;
    }

    >div {
      display: flex;

      &:nth-of-type(1) {
        flex-direction: row;
      }

      &:nth-of-type(2) {
        flex-direction: row-reverse;
      }

      p {
        max-width: 60%;
        box-sizing: border-box;
        padding: 1rem;
        font-family: "Open Sans";
        font-size: clamp(1rem, 0.714rem + 0.446vw, 1.25rem);
        text-align: justify;
      }

      .img {
        max-width: 40%;
        margin: auto 0;

        img {
          width: 100%;
        }
      }
    }
  }

  .end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 5rem;

    .long {
      width: 50%;
      border-color: #b4b3b1;
    }
  }

  @media screen and (orientation: portrait) {

    h3 {
      font-size: clamp(1.25rem, 0.357rem + 4.464vw, 2.5rem);
    }

    .type {
      padding-top: 4rem;
      align-items: center;
      justify-content: center;
      background-position: center;
      background-size: cover;

      h1 {
        font-size: 24px;
        margin: 0;
      }
    }

    .motto {
      height: 35vh;

      h2 {
        width: 100%;
        font-size: 24px;
      }
    }

    .info {
      height: auto;
      padding-top: 2.5rem;

      .parts {
        padding: 0 1rem;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 0;
        margin-bottom: 0;

        &:last-of-type {
          margin-bottom: 1.5rem;
        }

        .option {
          gap: 0.5rem;
          width: 27vw;
          align-items: center;
          padding: 1rem;

          h4 {
            font-size: 16px;
          }

          svg {
            height: 4rem;
            min-width: 4rem;
            width: 4rem;
          }
        }

        @media (max-width: 425px) {
          flex-direction: column;

          .option {
            width: 70vw;
          }
        }
      }
    }

    .pedagogic {
      justify-content: center;

      >div {
        gap: 1rem;

        &.textone {
          flex-direction: row;
        }

        &.texttwo {
          flex-direction: row-reverse;
        }

        .img {
          display: flex;
          align-items: center;

          img {
            max-width: 35vw;
          }
        }

        @media (max-width: 425px) {
          .img {
            display: none;
          }

          p {
            max-width: 100%;
          }
        }

        p {
          text-align: justify;
        }
      }
    }
  }


}


#engineering {
  .type {
    background-color: #1D8755;
  }

  .motto {
    background-image: url("https://img.freepik.com/free-photo/men-working-machinery-robotic-arm-fun-generated-by-ai_188544-24600.jpg?t=st=1698460855~exp=1698464455~hmac=3d65e29810d82a1268c48961b5942723717ec3bb0d557e6e95020727202a45a6&w=1380");
  }
}

#socials {
  .type {
    background-color: #2F78C6;
  }

  .motto {
    background-image: url("https://img.freepik.com/free-photo/two-businessmen-casual-clothing-discussing-expertise-generated-by-ai_188544-20431.jpg?t=st=1698507143~exp=1698510743~hmac=70b580d00fa69207bb164fe7ffb67fc1bb71393fbdbc6f04b12fa89b13e4b864&w=1380");
  }
}

#laws {
  .type {
    background-color: #A06931;
  }

  .motto {
    background-image: url("https://img.freepik.com/free-photo/back-school-concept-with-woman-studying-library_23-2148172347.jpg?w=1380&t=st=1698516553~exp=1698517153~hmac=dc9b69dfae6832f20cc3184685e8e13f7c8bd4ff81213116b5fb5349b9abe7ea");
    background-position: 0 -120px;
  }
}

#medicine {
  .type {
    background-color: #DF0C83;
  }

  .motto {
    background-image: url("https://img.freepik.com/free-photo/young-female-doctor-talking-by-phone-corridor-hospital_1303-21222.jpg?w=1380&t=st=1698512541~exp=1698513141~hmac=e40ac60c23e3591471c1e1e20b43a91d5effbb8b6c09eb89fb6c4c2e6b1dfe5b");
    background-position: 0 -120px;
  }
}