#root>header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--bg-100);
    color: var(--text-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    button {
        margin-right: 1em;
        padding: 5px 10px 5px 10px;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        background-color: #db4c2c;
        border: 1px solid black;
        border-bottom: 3px solid black;

        &:active {
            background-color: lighten(#db4c2c, 15%);
            border-bottom: 1px solid black;
        }
    }
}