#Homepage {
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  >section {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    >h2 {
      font-size: clamp(2.5rem, 1.357rem + 1.786vw, 3.5rem);
      font-family: $fontSans;
      font-weight: 200;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    >hr {
      width: 4rem;
      border: 0.2rem solid #aaa;
      border-radius: 0.5rem;
      margin-bottom: 2rem;
    }

    >span.subtitle {
      font-family: $fontSerif;
      font-weight: 300;
      color: #696969;
      margin-bottom: 1.5rem;
      font-size: clamp(0.875rem, 0.446rem + 0.67vw, 1.25rem);
    }

  }

  #home {
    background: linear-gradient(rgba(3, 57, 78, 0.7), rgba(3, 57, 78, 0.7)), url(https://img.freepik.com/foto-gratis/grupo-multietnico-jovenes-estudiantes-alegres-caminando_171337-11709.jpg?w=1380&t=st=1691914388~exp=1691914988~hmac=2ec1095f94db067bd441e9589431519acd341469858dad487f7069de8a196fdd);
    background-position: center -5rem;
    background-size: cover;
    justify-content: flex-end;
    color: #fee;
    padding: 5rem 0;

    >span,
    >h1 {
      padding: 0 5rem;
      font-family: 'Lato', sans-serif;
    }

    >span {
      font-size: clamp(1rem, 0.429rem + 0.893vw, 1.5rem);
    }

    >h1 {
      margin-top: 1rem;
      text-transform: uppercase;
      font-weight: 200;
      font-size: clamp(2rem, 0.714rem + 2.009vw, 3.125rem);

      >.bold {
        font-weight: bold;
      }
    }

    >hr {
      margin-left: 7rem;
      width: 60%;
      height: 1;
      border: 1px solid #aaa;
    }

    >.events {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 0 5rem 1rem 5rem;
      gap: 0.5rem;
      overflow-x: scroll;
      scroll-behavior: smooth;
    }
  }

  #studywus {
    align-items: center;
    height: 85vh;
    padding: 0 6rem;
    padding-bottom: 5rem;

    >p {
      text-align: center;
      font-family: $fontSans;
      font-weight: 300;
      color: #696969;
      font-size: clamp(0.75rem, 0.464rem + 0.446vw, 1rem);
    }

    .horizontal-container {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
  }

  .section-3 {
    background-color: #EEE;
    align-items: center;

    .courses {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      align-items: center;
      width: 100%;

      .couple {
        display: flex;
        flex-direction: row;
        min-width: 80%;
        max-width: 80%;
        gap: 2rem;
      }
    }
  }
}