.course {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-width: 50%;
  width: 50%;
  max-width: 50%;

  .calendar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    svg {
      width: 2rem;
      height: 2rem;
      padding: 1.5rem;
      background-color: #58608D;
      color: white;
      aspect-ratio: 1/1;
    }

    >span {
      background-color: #E76A00;
      color: white;
      padding: 0.5rem;
      text-transform: uppercase;
      text-align: center;
      font-size: 16px;
    }

  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: calc(100% - 6rem);

    h3 {
      margin: 0;
      font-size: clamp(1rem, 0.806rem + 0.304vw, 1.17rem);
    }

    p {
      margin: 0.5rem 0 0 0;
      font-size: clamp(0.75rem, 0.464rem + 0.446vw, 1rem);
    }

    .extra {
      display: flex;
      flex-direction: row;
      align-items: center;

      svg {
        color: #E76A00;
        vertical-align: baseline;
      }

      span {
        padding: 0 0.5rem;
        font-size: clamp(0.75rem, 0.464rem + 0.446vw, 1rem);
      }
    }
  }
}