.event-component {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  max-width: 360px;
  background-color: #0A0A0A77;
  box-sizing: border-box;
  padding: 2rem;

  >span {
    font-family: $fontSans;
    text-transform: uppercase;
    font-size: clamp(1rem, 0.806rem + 0.304vw, 1.17rem);
  }

  >h3 {
    font-family: $fontSerif;
    text-transform: uppercase;
    font-weight: 200;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid white;
    margin: 0;
    min-height: 2.670940170940171em;
    font-size: clamp(1rem, 0.806rem + 0.304vw, 1.17rem);
  }

  >p {
    font-family: $fontSans;
    font-size: 12px;
    min-height: 4em;
  }

  >a {
    color: white;
    font-family: $fontSans;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: #E76A00;
    }
  }
}