.box.home {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  max-height: 480px;

  .minibox {

    min-height: clamp(8.125rem, 0.268rem + 12.277vw, 15rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      max-width: 80%;
      border-radius: 1rem;
    }

    h3 {
      text-transform: uppercase;
      text-align: center;
      font-family: $fontSans;
      font-weight: 200;
      font-size: clamp(1rem, 0.143rem + 1.339vw, 1.75rem);
      margin: 0;
    }
  }

  &.why h3 {
    font-weight: 400;
    font-size: clamp(1.25rem, 0.107rem + 1.786vw, 2.25rem);
  }

  hr {
    width: 7rem;
    border: 1px solid #696969;
    margin: 0 auto;
  }

  p {
    color: #696969;
    text-align: justify;
    font-family: $fontSans;
    font-weight: 300;
    font-size: clamp(0.75rem, 0.464rem + 0.446vw, 1rem);
    color: #696969;
  }

  >a.button {
    width: fit-content;
    margin: 0 auto;
  }
}