.pathmodule {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100%;
  min-height: 15rem;
  box-sizing: border-box;
  padding: 0 clamp(3.125rem, -11.161rem + 22.321vw, 15.625rem);

  &.start {
    min-height: 5rem;
    height: 5rem;

    .route .icon {
      margin: 0;
    }
  }

  &.grey {
    background-color: #f9f7f5;
  }

  &.end {
    min-height: 5rem;
    height: 5rem;
    margin-bottom: 2rem;

    .route .icon {
      margin: auto 0 0 0;
    }
  }

  .route {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 3rem;
    max-width: 3rem;
    height: auto;
    position: relative;

    .icon {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      padding: 5px;
      background-color: #e0bc43;
      color: white;
      z-index: 1;
      margin-top: 1.5rem;

      &.reverse {
        transform: rotate(180deg);
      }
    }

    div.verticalline {
      position: absolute;
      left: 50%;
      height: 100%;
      display: block;
      width: 2px;
      flex-grow: 1;
      background-color: grey;
      box-sizing: border-box;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h3 {
      position: relative;
      margin: 1.5rem 0 1.5rem 1rem;
      font-size: 36px;
      font-family: 'Lato', sans-serif;
      background-color: #e0bc43;
      color: white;
      width: fit-content;
      padding: 5px;
      border-radius: 15px;

      &::before {
        position: absolute;
        top: calc(50% - 12px);
        left: -4px;
        content: ' ';
        display: block;
        width: 8px;
        height: 8px;
        rotate: 45deg;
        background: #e0bc43;
        border: 4px solid #e0bc43;
        z-index: -1;
      }

    }

    .text {
      display: flex;
      flex-direction: column;

      &:has(img) {
        flex-direction: row;
      }


      p {
        margin: 0 0 0.5rem 0;
        text-align: justify;
        font-family: 'Lato', sans-serif;
        font-size: clamp(0.875rem, 0.732rem + 0.223vw, 1rem);
      }

      img {
        display: flex;
        aspect-ratio: 2/1;
        width: 300px;
        height: 150px;
        margin: 0 3rem;
        align-self: center;
      }
    }
  }
}