html,
body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#root {
    height: 100%;
    background-color: $darkwhite;

    &:has(header, nav) {
        display: grid;
        grid-template-columns: 0.15fr 1fr;
        grid-template-rows: 0.05fr 1fr;

        main {
            grid-area: 2 / 2 / 3 / 3;
        }
    }

    &:has(#login) {
        display: flex;
        align-items: center;
    }
}