$cyan: #3d89bd;
$darkcyan: #327fb3;

$white: #fbfbfb;
$darkwhite: #f0eef9;
$darkblue: #242831;

:root {
    --primary-100: #FFC107;
    --primary-200: #dda400;
    --primary-300: #916400;
    --accent-100: #4CAF50;
    --accent-200: #005100;
    --text-100: #FFFFFF;
    --text-200: #e0e0e0;
    --bg-100: #1E1E1E;
    --bg-200: #2d2d2d;
    --bg-300: #454545;
}

.dark {
    --primary-100: #FFC107;
    --primary-200: #dda400;
    --primary-300: #916400;
    --accent-100: #4CAF50;
    --accent-200: #005100;
    --text-100: #FFFFFF;
    --text-200: #e0e0e0;
    --bg-100: #1E1E1E;
    --bg-200: #2d2d2d;
    --bg-300: #454545;
}

.light {
    --primary-100: #1E88E5;
    --primary-200: #6ab7ff;
    --primary-300: #dbffff;
    --accent-100: #FFC107;
    --accent-200: #916400;
    --text-100: #333333;
    --text-200: #5c5c5c;
    --bg-100: #FFFFFF;
    --bg-200: #f5f5f5;
    --bg-300: #cccccc;
}

.phoenix {
    --primary-100: #B22222;
    --primary-200: #eb584b;
    --primary-300: #ffbda6;
    --accent-100: #FFA500;
    --accent-200: #904a00;
    --text-100: #333333;
    --text-200: #5c5c5c;
    --bg-100: #F5F5F5;
    --bg-200: #ebebeb;
    --bg-300: #c2c2c2;
}

.windForce {
    --primary-100: #00BFFF;
    --primary-200: #00a2e0;
    --primary-300: #00619a;
    --accent-100: #FFA500;
    --accent-200: #904a00;
    --text-100: #333333;
    --text-200: #5c5c5c;
    --bg-100: #F5F5F5;
    --bg-200: #ebebeb;
    --bg-300: #c2c2c2;
}

.darkPhoenix {
    --primary-100: #FF5733;
    --primary-200: #ff8a5f;
    --primary-300: #fff3bf;
    --accent-100: #FFC300;
    --accent-200: #916600;
    --text-100: #FFFFFF;
    --text-200: #e0e0e0;
    --bg-100: #1E1E1E;
    --bg-200: #2d2d2d;
    --bg-300: #454545;
}

.dragon {
    --primary-100: #FF5733;
    --primary-200: #ff8a5f;
    --primary-300: #fff3bf;
    --accent-100: #F5C518;
    --accent-200: #886800;
    --text-100: #FFFFFF;
    --text-200: #e0e0e0;
    --bg-100: #1C1C1C;
    --bg-200: #2b2b2b;
    --bg-300: #434343;
}

.lightDragon {
    --primary-100: #FFA500;
    --primary-200: #dd8900;
    --primary-300: #904a00;
    --accent-100: #FFD700;
    --accent-200: #917800;
    --text-100: #333333;
    --text-200: #5c5c5c;
    --bg-100: #F5F5F5;
    --bg-200: #ebebeb;
    --bg-300: #c2c2c2;
}

.crimson {
    --primary-100: #8B0000;
    --primary-200: #c2402a;
    --primary-300: #feded3;
    --accent-100: #8d0000;
    --accent-200: #FF6347;
    --text-100: #000000;
    --text-200: #565656;
    --bg-100: #E9E9E9;
    --bg-200: #dfdfdf;
    --bg-300: #b7b7b7;
}

$primary-100: var(--primary-100);
$primary-200: var(--primary-200);
$primary-300: var(--primary-300);
$accent-100: var(--accent-100);
$accent-200: var(--accent-200);
$text-100: var(--text-100);
$text-200: var(--text-200);
$bg-100: var(--bg-100);
$bg-200: var(--bg-200);
$bg-300: var(--bg-300);