.accordion {

    button {
        color: $text-100;
        border: none;

        div {
            max-width: calc(100% - 1rem);
            text-align: left;
            text-decoration: none;
            display: list-item;
            padding: 1rem 0 calc(1rem + 3px) clamp(8px, 8px + 2.5vw, 24px);

            >svg {
                margin-right: 15px;
            }
        }

        font-family: 'Times New Roman',
        Times,
        serif;
        font-size: 1rem;
        font-size: clamp(1rem, 0.9741379310344828rem + 0.22988505747126436vw, 1.25rem);
        vertical-align: top;
        user-select: none;
        background-color: rgba(0, 0, 0, 0);
        margin: 0;
        padding: 0;
        cursor: pointer;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        >svg {
            width: 2rem;
            height: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    &.active {
        border-left: 3px solid $primary-100;

        button {
            color: $primary-100;
        }
    }

    &:hover {
        background-color: $primary-300;
        border-right: $accent-100;
        transition: background-color 0.1s linear;
    }

    .accordion__content {
        padding-top: 5px;
        padding-bottom: 5px;
        max-height: 100vh;
        transition: max-height 0.3s ease-in-out;

        >ul {
            margin: 0;
            margin-top: 0;

            li {
                font-size: 0.5rem;
                font-size: clamp(0.5rem, 0.45rem + 0.25vw, 0.75rem);
            }
        }

        &.hidden {
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.3s ease-in-out;
            transition: padding 0.3s ease-in-out;
            padding: 0;
        }
    }

}