.imglogo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    font-size: 1.5em;
    min-width: 7.5em;
    margin: 0;
    text-align: center;
    color: black;
}