.notify-container {
    position: relative;
    display: inline-block;
    margin-top: 10px;

    >.notify-bubble {
        position: absolute;
        top: -8px;
        right: -7px;
        padding: 2px 5px 2px 6px;
        background-color: darken(red, 15%);
        color: white;
        font-size: 0.65em;
        border-radius: 50%;
        box-shadow: 1px 1px 1px gray;
        display: inline-block;
    }
}