li.link {
    height: 1.5rem;
    padding: 1rem 0 calc(1rem + 3px) clamp(8px, 8px + 2.5vw, 24px);
    vertical-align: top;
    overflow: hidden;
    font-size: 1rem;
    font-size: clamp(1rem, 0.9741379310344828rem + 0.22988505747126436vw, 1.25rem);
    user-select: none;
    cursor: pointer;

    >svg {
        aspect-ratio: 1/1;
        height: 100%;
        vertical-align: text-bottom;
        margin-right: 15px;
    }

    &.active {
        padding: 1rem 0 calc(1rem + 3px) clamp(8px, 8px + 2.5vw, 24px);
        border-left: 3px solid $cyan;
        color: $cyan;
    }

    &:hover {
        background-color: $darkcyan;
        border-right: $cyan;
    }



}