/* Utilities */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&display=swap");
/*
    Themes:
    dark
    light 
    phoenix
    windForce
    darkPhoenix
    dragon
    lightDragon
    crimson
*/
:root {
  --primary-100: #FFC107;
  --primary-200: #dda400;
  --primary-300: #916400;
  --accent-100: #4CAF50;
  --accent-200: #005100;
  --text-100: #FFFFFF;
  --text-200: #e0e0e0;
  --bg-100: #1E1E1E;
  --bg-200: #2d2d2d;
  --bg-300: #454545;
}

.dark {
  --primary-100: #FFC107;
  --primary-200: #dda400;
  --primary-300: #916400;
  --accent-100: #4CAF50;
  --accent-200: #005100;
  --text-100: #FFFFFF;
  --text-200: #e0e0e0;
  --bg-100: #1E1E1E;
  --bg-200: #2d2d2d;
  --bg-300: #454545;
}

.light {
  --primary-100: #1E88E5;
  --primary-200: #6ab7ff;
  --primary-300: #dbffff;
  --accent-100: #FFC107;
  --accent-200: #916400;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --bg-100: #FFFFFF;
  --bg-200: #f5f5f5;
  --bg-300: #cccccc;
}

.phoenix {
  --primary-100: #B22222;
  --primary-200: #eb584b;
  --primary-300: #ffbda6;
  --accent-100: #FFA500;
  --accent-200: #904a00;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --bg-100: #F5F5F5;
  --bg-200: #ebebeb;
  --bg-300: #c2c2c2;
}

.windForce {
  --primary-100: #00BFFF;
  --primary-200: #00a2e0;
  --primary-300: #00619a;
  --accent-100: #FFA500;
  --accent-200: #904a00;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --bg-100: #F5F5F5;
  --bg-200: #ebebeb;
  --bg-300: #c2c2c2;
}

.darkPhoenix {
  --primary-100: #FF5733;
  --primary-200: #ff8a5f;
  --primary-300: #fff3bf;
  --accent-100: #FFC300;
  --accent-200: #916600;
  --text-100: #FFFFFF;
  --text-200: #e0e0e0;
  --bg-100: #1E1E1E;
  --bg-200: #2d2d2d;
  --bg-300: #454545;
}

.dragon {
  --primary-100: #FF5733;
  --primary-200: #ff8a5f;
  --primary-300: #fff3bf;
  --accent-100: #F5C518;
  --accent-200: #886800;
  --text-100: #FFFFFF;
  --text-200: #e0e0e0;
  --bg-100: #1C1C1C;
  --bg-200: #2b2b2b;
  --bg-300: #434343;
}

.lightDragon {
  --primary-100: #FFA500;
  --primary-200: #dd8900;
  --primary-300: #904a00;
  --accent-100: #FFD700;
  --accent-200: #917800;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --bg-100: #F5F5F5;
  --bg-200: #ebebeb;
  --bg-300: #c2c2c2;
}

.crimson {
  --primary-100: #8B0000;
  --primary-200: #c2402a;
  --primary-300: #feded3;
  --accent-100: #FF6347;
  --accent-200: #8d0000;
  --text-100: #000000;
  --text-200: #565656;
  --bg-100: #E9E9E9;
  --bg-200: #dfdfdf;
  --bg-300: #b7b7b7;
}

/* Base */
html,
body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

#root {
  height: 100%;
  background-color: #f0eef9;
}
#root:has(#CampusHeader, #CampusNav) {
  display: grid;
  grid-template-columns: 0.15fr 1fr;
  grid-template-rows: 0.05fr 1fr;
}
#root:has(#CampusHeader, #CampusNav) .imgLogo {
  grid-area: 1/1/2/2;
}
#root:has(#CampusHeader, #CampusNav) main {
  grid-area: 2/2/3/3;
  background-color: var(--bg-200);
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
*::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
*::-webkit-scrollbar-thumb {
  background: #f0eef9;
  border: 0px none #fbfbfb;
  border-radius: 50px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #fbfbfb;
}
*::-webkit-scrollbar-thumb:active {
  background: #3d89bd;
}
*::-webkit-scrollbar-track {
  background: #242831;
  border: 0px none transparent;
  border-radius: 50px;
}
*::-webkit-scrollbar-track:hover {
  background: #242831;
}
*::-webkit-scrollbar-track:active {
  background: #327fb3;
}
*::-webkit-scrollbar-corner {
  background: transparent;
}

/* Layouts*/
#HomeHeader {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  color: white;
}
#HomeHeader .navs.inactive {
  display: none;
}
#HomeHeader .navs.active {
  display: flex;
}
#HomeHeader .navs a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  text-decoration: none;
}
#HomeHeader .navs a:hover {
  background-color: rgba(255, 255, 255, 0.5333333333);
  cursor: pointer;
  color: black;
}
#HomeHeader .navs .campus {
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
}
#HomeHeader .navs .campus:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
#HomeHeader .navs .campus:active {
  background-color: white;
  color: black;
  border: 1px solid black;
}
@media screen and (min-width: 1024px) {
  #HomeHeader input[type=checkbox] {
    display: none;
  }
  #HomeHeader .navs.inactive {
    display: flex;
  }
}

#HomeFooter {
  height: 50vh;
}
#HomeFooter h5 {
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  color: white;
}
#HomeFooter .registry {
  background: linear-gradient(rgba(88, 96, 141, 0.7), rgba(88, 96, 141, 0.7)), url(https://img.freepik.com/free-photo/nobody-empty-call-center-workstation-with-computers-audio-instruments-no-people-customer-service-office-desks-with-telecommunications-technology-offering-helpline-assistance_482257-44179.jpg?w=1380&t=st=1696719611~exp=1696720211~hmac=366d7a48e8ff9274d758c4bf701a97fb95db5c009ce2bf61ac4d831e628b24bc);
  background-position-y: -550px;
  background-size: cover;
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#HomeFooter .registry > div {
  width: 60%;
}
#HomeFooter .registry > div > span {
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-size: clamp(0.75rem, 0.179rem + 0.893vw, 1.25rem);
  color: #8EB8BA;
}
#HomeFooter .registry > div > h5 {
  font-size: clamp(1.5rem, 0.643rem + 1.339vw, 2.25rem);
}
#HomeFooter .emailregister {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  background-color: #E76A00;
  padding: 0 10rem;
}
#HomeFooter .emailregister div {
  display: flex;
  flex-direction: row;
}
#HomeFooter .emailregister div > svg {
  aspect-ratio: 1/1;
  width: 50px;
  height: 50px;
  color: white;
}
#HomeFooter .emailregister div > h5 {
  font-size: clamp(1rem, 0.429rem + 0.893vw, 1.5rem);
  align-self: center;
}
#HomeFooter .emailregister form {
  display: flex;
  flex-direction: row;
}
#HomeFooter .emailregister form input[type=Email] {
  width: clamp(12.5rem, -1.786rem + 22.321vw, 25rem);
  height: 2rem;
  font-size: clamp(0.75rem, 0.464rem + 0.446vw, 1rem);
  margin: 0;
  padding: 0.5rem;
  border: 0;
}
#HomeFooter .emailregister form input[type=submit] {
  height: 3rem;
  margin: 0;
  padding: 0 1.5rem;
  text-transform: uppercase;
  border: 0;
  background-color: rgb(88, 96, 141);
  font-family: "DM Sans", sans-serif;
  font-size: clamp(0.75rem, 0.464rem + 0.446vw, 1rem);
  color: white;
}
#HomeFooter .emailregister form input[type=submit]:hover {
  cursor: pointer;
}
#HomeFooter .last {
  background-color: #242424;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10%;
}
#HomeFooter .last .nav {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #979797;
  font-family: "DM Sans", sans-serif;
}
#HomeFooter .last .nav > a {
  color: #979797;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-right: 1px solid #979797;
  text-transform: capitalize;
  font-size: clamp(0.75rem, 0.464rem + 0.446vw, 1rem);
}
#HomeFooter .last .nav > a:hover {
  color: #E76A00;
}
#HomeFooter .last .copynsocials {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#HomeFooter .last .copynsocials span {
  color: #979797;
}
#HomeFooter .last .copynsocials .copyright > span {
  font-size: clamp(1rem, 0.714rem + 0.446vw, 1.25rem);
}
#HomeFooter .last .copynsocials .copyright > .imglogo {
  color: white;
}
#HomeFooter .last .copynsocials .socials {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
}
#HomeFooter .last .copynsocials .socials > span {
  margin-bottom: 8px;
}
#HomeFooter .last .copynsocials .socials .links {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
#HomeFooter .last .copynsocials .socials .links svg {
  width: 32px;
  height: 32px;
  color: white;
  background-color: #E76A00;
}

#CampusNav {
  background-color: var(--bg-100);
  color: var(--text-100);
  grid-area: 2/1/3/2;
  overflow-y: scroll;
  scrollbar-width: 5px;
}
#CampusNav > ul {
  margin: 0;
  margin-top: 5rem;
  padding: 0;
  list-style-type: none;
}

/* Modules or Components */
.imglogo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: block;
  font-size: 1.5em;
  min-width: 7.5em;
  margin: 0;
  text-align: center;
}

.notify-container {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}
.notify-container > .notify-bubble {
  position: absolute;
  top: -8px;
  right: -7px;
  padding: 2px 5px 2px 6px;
  background-color: #b30000;
  color: white;
  font-size: 0.65em;
  border-radius: 50%;
  box-shadow: 1px 1px 1px gray;
  display: inline-block;
}

.event-component {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  max-width: 360px;
  background-color: rgba(10, 10, 10, 0.4666666667);
  box-sizing: border-box;
  padding: 2rem;
}
.event-component > span {
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  font-size: clamp(1rem, 0.806rem + 0.304vw, 1.17rem);
}
.event-component > h3 {
  font-family: "DM Serif Display", serif;
  text-transform: uppercase;
  font-weight: 200;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid white;
  margin: 0;
  min-height: 2.6709401709em;
  font-size: clamp(1rem, 0.806rem + 0.304vw, 1.17rem);
}
.event-component > p {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  min-height: 4em;
}
.event-component > a {
  color: white;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.event-component > a:hover {
  color: #E76A00;
}

.box.home {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  max-height: 480px;
}
.box.home .minibox {
  min-height: clamp(8.125rem, 0.268rem + 12.277vw, 15rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box.home .minibox img {
  max-width: 80%;
  border-radius: 1rem;
}
.box.home .minibox h3 {
  text-transform: uppercase;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  font-size: clamp(1rem, 0.143rem + 1.339vw, 1.75rem);
  margin: 0;
}
.box.home.why h3 {
  font-weight: 400;
  font-size: clamp(1.25rem, 0.107rem + 1.786vw, 2.25rem);
}
.box.home hr {
  width: 7rem;
  border: 1px solid #696969;
  margin: 0 auto;
}
.box.home p {
  color: #696969;
  text-align: justify;
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-size: clamp(0.75rem, 0.464rem + 0.446vw, 1rem);
  color: #696969;
}
.box.home > a.button {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.course {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-width: 50%;
  width: 50%;
  max-width: 50%;
}
.course .calendar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.course .calendar svg {
  width: 2rem;
  height: 2rem;
  padding: 1.5rem;
  background-color: #58608D;
  color: white;
  aspect-ratio: 1/1;
}
.course .calendar > span {
  background-color: #E76A00;
  color: white;
  padding: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
}
.course .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: calc(100% - 6rem);
}
.course .info h3 {
  margin: 0;
  font-size: clamp(1rem, 0.806rem + 0.304vw, 1.17rem);
}
.course .info p {
  margin: 0.5rem 0 0 0;
  font-size: clamp(0.75rem, 0.464rem + 0.446vw, 1rem);
}
.course .info .extra {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.course .info .extra svg {
  color: #E76A00;
  vertical-align: baseline;
}
.course .info .extra span {
  padding: 0 0.5rem;
  font-size: clamp(0.75rem, 0.464rem + 0.446vw, 1rem);
}

a.button {
  margin: auto 0;
  border: 0;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #e0bc43;
  font-family: "DM Sans", sans-serif;
  padding: 1rem 2rem;
  font-size: clamp(0.75rem, 0.464rem + 0.446vw, 1rem);
}

.pathmodule {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100%;
  min-height: 15rem;
  box-sizing: border-box;
  padding: 0 clamp(3.125rem, -11.161rem + 22.321vw, 15.625rem);
}
.pathmodule.start {
  min-height: 5rem;
  height: 5rem;
}
.pathmodule.start .route .icon {
  margin: 0;
}
.pathmodule.grey {
  background-color: #f9f7f5;
}
.pathmodule.end {
  min-height: 5rem;
  height: 5rem;
  margin-bottom: 2rem;
}
.pathmodule.end .route .icon {
  margin: auto 0 0 0;
}
.pathmodule .route {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 3rem;
  max-width: 3rem;
  height: auto;
  position: relative;
}
.pathmodule .route .icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 5px;
  background-color: #e0bc43;
  color: white;
  z-index: 1;
  margin-top: 1.5rem;
}
.pathmodule .route .icon.reverse {
  transform: rotate(180deg);
}
.pathmodule .route div.verticalline {
  position: absolute;
  left: 50%;
  height: 100%;
  display: block;
  width: 2px;
  flex-grow: 1;
  background-color: grey;
  box-sizing: border-box;
}
.pathmodule .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.pathmodule .content h3 {
  position: relative;
  margin: 1.5rem 0 1.5rem 1rem;
  font-size: 36px;
  font-family: "Lato", sans-serif;
  background-color: #e0bc43;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 15px;
}
.pathmodule .content h3::before {
  position: absolute;
  top: calc(50% - 12px);
  left: -4px;
  content: " ";
  display: block;
  width: 8px;
  height: 8px;
  rotate: 45deg;
  background: #e0bc43;
  border: 4px solid #e0bc43;
  z-index: -1;
}
.pathmodule .content .text {
  display: flex;
  flex-direction: column;
}
.pathmodule .content .text:has(img) {
  flex-direction: row;
}
.pathmodule .content .text p {
  margin: 0 0 0.5rem 0;
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-size: clamp(0.875rem, 0.732rem + 0.223vw, 1rem);
}
.pathmodule .content .text img {
  display: flex;
  aspect-ratio: 2/1;
  width: 300px;
  height: 150px;
  margin: 0 3rem;
  align-self: center;
}

li.link {
  height: 1.5rem;
  padding: 1rem 0 calc(1rem + 3px) clamp(8px, 8px + 2.5vw, 24px);
  vertical-align: top;
  overflow: hidden;
  font-size: 1rem;
  font-size: clamp(1rem, 0.974137931rem + 0.2298850575vw, 1.25rem);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  color: var(--text-100);
}
li.link > svg {
  aspect-ratio: 1/1;
  height: 100%;
  vertical-align: text-bottom;
  margin-right: 15px;
}
li.link.active {
  padding: 1rem 0 calc(1rem + 3px) clamp(8px, 8px + 2.5vw, 24px);
  border-left: 3px solid var(--primary-100);
  color: var(--primary-100);
}
li.link:hover {
  background-color: var(--primary-200);
  border-right: var(--primary-200);
  transition: background-color 0.1s linear;
}

.accordion button {
  color: var(--text-100);
  border: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  font-size: clamp(1rem, 0.974137931rem + 0.2298850575vw, 1.25rem);
  vertical-align: top;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.accordion button div {
  max-width: calc(100% - 1rem);
  text-align: left;
  text-decoration: none;
  display: list-item;
  padding: 1rem 0 calc(1rem + 3px) clamp(8px, 8px + 2.5vw, 24px);
}
.accordion button div > svg {
  margin-right: 15px;
}
.accordion button > svg {
  width: 2rem;
  height: 1.5rem;
  padding-right: 1.5rem;
}
.accordion.active {
  border-left: 3px solid var(--primary-100);
}
.accordion.active button {
  color: var(--primary-100);
}
.accordion:hover {
  background-color: var(--primary-300);
  border-right: var(--accent-100);
  transition: background-color 0.1s linear;
}
.accordion .accordion__content {
  padding-top: 5px;
  padding-bottom: 5px;
  max-height: 100vh;
  transition: max-height 0.3s ease-in-out;
}
.accordion .accordion__content > ul {
  margin: 0;
  margin-top: 0;
}
.accordion .accordion__content > ul li {
  font-size: 0.5rem;
  font-size: clamp(0.5rem, 0.45rem + 0.25vw, 0.75rem);
}
.accordion .accordion__content.hidden {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
  padding: 0;
}

/* Pages */
#Homepage {
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#Homepage > section {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#Homepage > section > h2 {
  font-size: clamp(2.5rem, 1.357rem + 1.786vw, 3.5rem);
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
#Homepage > section > hr {
  width: 4rem;
  border: 0.2rem solid #aaa;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
#Homepage > section > span.subtitle {
  font-family: "DM Serif Display", serif;
  font-weight: 300;
  color: #696969;
  margin-bottom: 1.5rem;
  font-size: clamp(0.875rem, 0.446rem + 0.67vw, 1.25rem);
}
#Homepage .section-1 {
  background: linear-gradient(rgba(3, 57, 78, 0.7), rgba(3, 57, 78, 0.7)), url(https://img.freepik.com/foto-gratis/grupo-multietnico-jovenes-estudiantes-alegres-caminando_171337-11709.jpg?w=1380&t=st=1691914388~exp=1691914988~hmac=2ec1095f94db067bd441e9589431519acd341469858dad487f7069de8a196fdd);
  background-position: center -5rem;
  background-size: cover;
  justify-content: flex-end;
  color: #fee;
  padding: 5rem 0;
}
#Homepage .section-1 > span,
#Homepage .section-1 > h1 {
  padding: 0 5rem;
  font-family: "Lato", sans-serif;
}
#Homepage .section-1 > span {
  font-size: clamp(1rem, 0.429rem + 0.893vw, 1.5rem);
}
#Homepage .section-1 > h1 {
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 200;
  font-size: clamp(2rem, 0.714rem + 2.009vw, 3.125rem);
}
#Homepage .section-1 > h1 > span {
  font-weight: bold;
}
#Homepage .section-1 > hr {
  margin-left: 7rem;
  width: 60%;
  height: 1;
  border: 1px solid #aaa;
}
#Homepage .section-1 > .events {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 5rem 1rem 5rem;
  gap: 0.5rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
#Homepage .section-2 {
  align-items: center;
  height: 85vh;
  padding: 0 6rem;
  padding-bottom: 5rem;
}
#Homepage .section-2 > p {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  color: #696969;
  font-size: clamp(0.75rem, 0.464rem + 0.446vw, 1rem);
}
#Homepage .section-2 .horizontal-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
#Homepage .section-3 {
  background-color: #EEE;
  align-items: center;
}
#Homepage .section-3 .courses {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  width: 100%;
}
#Homepage .section-3 .courses .couple {
  display: flex;
  flex-direction: row;
  min-width: 80%;
  max-width: 80%;
  gap: 2rem;
}

main#aboutus {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}
main#aboutus .wallpaper {
  height: 100dvh;
  background: linear-gradient(rgba(3, 57, 78, 0.7), rgba(3, 57, 78, 0.7)), url(https://img.freepik.com/free-photo/royal-palace-madrid-spain_1398-4247.jpg?w=1380&t=st=1697227686~exp=1697228286~hmac=bb31866bffdf9abb9dc0c7379d18b6b6c2296ab15f9548ad6e87d35d3e8060a4);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
main#aboutus .wallpaper .imglogo {
  font-size: clamp(2.5rem, 1.357rem + 1.786vw, 3.5rem);
  color: white;
}
main#aboutus .wallpaper q {
  margin-top: 3rem;
  font-size: clamp(2.25rem, 0.821rem + 2.232vw, 3.5rem);
  width: 60%;
  text-align: justify;
  font-family: "Lato", sans-serif;
  color: white;
}
main#aboutus .wallpaper p {
  font-size: clamp(2rem, 1.429rem + 0.893vw, 2.5rem);
  margin-top: 0;
  width: 60%;
  text-align: end;
  color: white;
  font-family: "Lato", sans-serif;
}
main#aboutus .wallpaper .button {
  position: absolute;
  margin: 1rem;
  bottom: 0;
}
main#aboutus #me {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  background-color: #f9f7f5;
}
main#aboutus #me .mysection {
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
main#aboutus #me .mysection .img {
  aspect-ratio: 460px/320px;
  min-width: 460px;
  max-width: 460px;
  min-height: 320px;
  max-height: 320px;
  background-color: grey;
}
main#aboutus #me .mysection .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main#aboutus #me .mysection .content h3 {
  color: rgb(3, 57, 78);
  font-family: "Lato", sans-serif;
  font-size: clamp(1.5rem, 0.929rem + 0.893vw, 2rem);
  margin: 0;
}
main#aboutus #me .mysection .content h4 {
  font-family: "Lato", sans-serif;
  font-size: clamp(1.25rem, 0.964rem + 0.446vw, 1.5rem);
  margin: 1rem 0;
}
main#aboutus #me .mysection .content p {
  height: auto;
  flex-grow: 1;
  text-align: justify;
  font-size: clamp(0.875rem, 0.732rem + 0.223vw, 1rem);
}
main#aboutus #me .mysection .content .button {
  align-self: center;
}
main#aboutus .path {
  display: flex;
  flex-direction: column;
}

#wip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--primary-100);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(325,960,461)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* Background from svgbackgrounds.com */
}
#login .welcome {
  background: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  padding: 2vh 5vw;
  height: 100%;
  width: auto;
  align-self: flex-start;
  flex-shrink: 3;
}
#login .welcome h1 {
  font-size: clamp(2.25rem, 1.083rem + 1.823vw, 4rem);
}
#login .welcome p {
  font-size: clamp(1rem, 0.667rem + 0.521vw, 1.5rem);
}
#login .form {
  background-color: var(--bg-100);
  width: 50vw;
  height: 100%;
  min-width: 45vw;
  display: flex;
  flex-grow: 4;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-100);
}
#login .form .person {
  font-size: 64px;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  margin-bottom: 1rem;
}
#login .form a {
  color: var(--text-100);
}
#login .form form {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  gap: 1rem;
  width: 80%;
  align-items: center;
}
#login .form form .input-container {
  background: linear-gradient(135deg, var(--accent-100) 0%, var(--accent-200) 100%);
  border-radius: 15rem;
  display: flex;
  padding: 0 0.75rem;
  height: 2.5rem;
  width: 50%;
}
#login .form form .input-container > .notify-container {
  margin: 0;
  width: 100%;
}
#login .form form .input-container > .notify-container > input {
  background: transparent;
  height: 95%;
  width: 95%;
  border: 0;
  color: var(--text-100);
  font-family: "DM Sans", sans-serif;
}
#login .form form .input-container > .notify-container > input:focus {
  border: 0;
  outline: 0;
}
#login .form form .input-container > label {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  font-size: 20px;
}
#login .form form .line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
  width: 75%;
}
#login .form form .submit {
  font-family: "DM Sans", sans-serif;
  color: var(--text-100);
  font-size: 16px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  margin: auto;
  border: 0;
  background: linear-gradient(135deg, var(--primary-100) 0%, var(--primary-300) 100%);
  padding: 1rem 2rem;
  border-radius: 2rem;
}

#library {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  grid-template-rows: 10rem repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
  background-color: var(--bg-100);
}
#library > header {
  grid-area: 1/1/2/4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg-200);
  padding: 15px;
}
#library > header h2 {
  color: var(--text-100);
  margin-left: 3rem;
  text-align: left;
  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
  font-family: monospace;
  align-self: center;
}
#library > aside.tags {
  grid-area: 2/1/6/2;
  background-color: var(--bg-200);
  color: var(--text-200);
}
#library > aside.tags h3 {
  text-align: center;
}
#library > aside.tags .form {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 2rem;
  outline: 3px solid var(--accent-100);
  transition: outline 1s;
}
#library > aside.tags .form:focus,
#library > aside.tags .form .input:focus, #library > aside.tags .form:hover,
#library > aside.tags .form button:hover,
#library > aside.tags .form button:focus {
  outline: 3px solid var(--accent-100);
  transition: outline 1s;
}
#library > aside.tags .form:focus button,
#library > aside.tags .form .input:focus button, #library > aside.tags .form:hover button,
#library > aside.tags .form button:hover button,
#library > aside.tags .form button:focus button {
  outline: 0;
}
#library > aside.tags .form input.input {
  background-color: var(--bg-300);
  color: var(--text-100);
  border: 0;
  padding: 0.5rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  width: calc(100% - 3rem);
}
#library > aside.tags .form input.input:focus {
  outline: 0;
}
#library > aside.tags .form button {
  padding-left: 1rem;
  width: 3rem;
  padding-right: 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: var(--bg-300);
  border: 0;
}
#library > aside.tags .form button:hover {
  background-color: var(--primary-300);
  cursor: pointer;
}
#library > aside.tags .form button:focus {
  outline: 0;
}
#library > aside.tags h5 {
  padding-left: clamp(1rem, 10%, 3rem);
}
#library > aside.tags ul {
  list-style: none;
  padding: 0 clamp(0px, 0px + 1vw, 3rem);
}
#library > aside.tags ul li {
  display: block;
  width: minmax(auto, 55%);
  text-align: center;
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-100);
  margin-bottom: 0.3rem;
  transition: background-color 150ms ease-in-out;
  transition: border 250ms ease-in-out;
}
#library > aside.tags ul li:last-of-type {
  margin-bottom: 0;
}
#library > aside.tags ul li:hover {
  background-color: var(--accent-200);
  border: 1px solid var(--accent-100);
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
  transition: border 0ms ease-in-out;
}
#library > aside.tags ul li:active {
  background-color: var(--accent-200);
  border: 1px solid var(--accent-100);
}
#library > aside.tags ul li::-moz-selection {
  background-color: rgba(0, 0, 0, 0);
}
#library > aside.tags ul li::selection {
  background-color: rgba(0, 0, 0, 0);
}
#library > section {
  grid-area: 2/2/6/3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  overflow: scroll;
  overflow-x: hidden;
  gap: 0.5rem;
  background-color: var(--primary-300);
}
#library > aside.shopping_list {
  background-color: var(--bg-200);
  color: var(--text-100);
  grid-area: 2/3/6/4;
}
#library > aside.shopping_list h3 {
  text-align: center;
}

#dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#dashboard h1 {
  margin: 2rem 0 0 0;
}
#dashboard h2 {
  margin: 0;
  color: gray;
}

main#student {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  max-width: 100%;
  max-height: 100%;
}
main#student section {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  background-color: var(--bg-100);
  color: var(--text-100);
  padding: 1rem;
  border-radius: 1rem;
}
main#student section h2 {
  display: block;
  margin: 0;
  padding: 0.5rem;
}
main#student section.courses {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
}
main#student section.courses .content {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 2rem;
  flex-wrap: nowrap;
  overflow: scroll;
  scroll-snap-align: center;
  scrollbar-width: none;
}
main#student section.courses .content::-webkit-scrollbar {
  width: 0;
}
main#student section.courses .content .course {
  width: 15rem;
  border: 3px solid black;
  border-radius: 1rem;
}
main#student section.timetable {
  grid-area: 2/1/3/2;
}
main#student section.announcements {
  grid-area: 1/2/2/3;
}
main#student section.feesannouncements {
  grid-area: 2/2/3/3;
}/*# sourceMappingURL=main.css.map */