#HomeFooter {

  h5 {
    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;
    margin: 0;
    color: white;

  }

  .last {
    background-color: #242424;
    height: 22.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10%;
    max-width: 100%;
    overflow-x: hidden;

    .nav {
      padding: 0.5rem 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #979797;
      font-family: "DM Sans", sans-serif;

      >a {
        color: #979797;
        text-decoration: none;
        padding: 0.5rem 1.5rem;
        border-right: 1px solid #979797;
        text-transform: capitalize;
        font-size: clamp(0.75rem, 0.464rem + 0.446vw, 1rem);

        &.active {
          color: #E76A00;
        }

        &:last-of-type {
          border-right: 0;
        }

        &:hover {
          color: #E76A00;
        }
      }
    }

    .copynsocials {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      span {
        color: #979797;
      }

      .copyright {
        >span {
          font-size: clamp(1rem, 0.714rem + 0.446vw, 1.25rem);
        }

        >.imglogo {
          color: white;
        }
      }

      .socials {
        display: flex;
        flex-direction: column;
        font-family: "DM Sans", sans-serif;

        >span {
          margin-bottom: 8px;
        }

        .links {
          display: flex;
          flex-direction: row;
          gap: 5px;

          svg {
            width: 32px;
            height: 32px;
            color: white;
            background-color: #E76A00;
          }
        }
      }
    }

    @media screen and (orientation: portrait) {
      .nav {
        a {
          padding: 0.25rem 0.5rem;
          font-size: clamp(0.625rem, 0.244rem + 1.905vw, 0.75rem);
        }
      }

      .copynsocials .socials {
        .links svg {
          width: clamp(1.25rem, -1.036rem + 11.429vw, 2rem);
          height: clamp(1.25rem, -1.036rem + 11.429vw, 2rem);
        }
      }
    }
  }
}