#HomeHeader {
  z-index: 1;
  position: absolute;
  width: 100%;
  min-height: 5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 0 3rem;

  input[type="checkbox"] {
    display: none;
  }

  .check {
    display: flex;
    flex-direction: row;
    min-height: 5rem;
    justify-content: space-between;
    align-items: center;

    .displaynav {
      display: none;

      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .navs {
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    font-family: $fontSans;

    &.inactive {
      display: flex;
    }

    &.active {
      display: flex;
    }

    a {
      padding: 1rem;
      margin: 0.5rem;
      border-radius: 0.5rem;
      color: white;
      text-decoration: none;
      text-align: center;
      vertical-align: middle;

      &.active {
        color: #E76A00;
      }

      &:hover {
        background-color: #ffffff88;
        cursor: pointer;
        color: black;
      }
    }

    .campusbtn {
      padding: 1rem;
      border: 1px solid transparent;
      border-radius: 0.5rem;
      background-color: black;
      color: white;


      &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
      }

      &:active {
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    background-color: rgba(3, 57, 78, 1);
    justify-content: center;

    .navs {
      flex-direction: column;
      text-align: end;
      align-items: normal;
      flex-grow: 0;
      background-color: rgba(3, 57, 78, 1);

      a {
        border: 1px solid white;
        margin: 0.25rem 0;
      }
    }

    .check .displaynav {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .navs.inactive {
      display: none;
    }
  }
}