#HomeFooter {
  height: 50vh;

  h5 {
    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;
    margin: 0;
    color: white;

  }

  .registry {
    background: linear-gradient(rgba(88, 96, 141, 0.7), rgba(88, 96, 141, 0.7)), url(https://img.freepik.com/free-photo/nobody-empty-call-center-workstation-with-computers-audio-instruments-no-people-customer-service-office-desks-with-telecommunications-technology-offering-helpline-assistance_482257-44179.jpg?w=1380&t=st=1696719611~exp=1696720211~hmac=366d7a48e8ff9274d758c4bf701a97fb95db5c009ce2bf61ac4d831e628b24bc);
    background-position-y: -550px;
    background-size: cover;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    >div {
      width: 60%;

      >span {
        text-transform: uppercase;
        font-family: "DM Sans", sans-serif;
        font-size: clamp(0.75rem, 0.179rem + 0.893vw, 1.25rem);
        color: #8EB8BA;
      }

      >h5 {
        font-size: clamp(1.5rem, 0.643rem + 1.339vw, 2.25rem);
      }
    }
  }

  .emailregister {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    background-color: #E76A00;
    padding: 0 10rem;

    div {
      display: flex;
      flex-direction: row;

      >svg {
        aspect-ratio: 1/1;
        width: 50px;
        height: 50px;
        color: white;
      }

      >h5 {
        font-size: clamp(1rem, 0.429rem + 0.893vw, 1.5rem);
        align-self: center;
      }
    }

    form {
      display: flex;
      flex-direction: row;

      input[type="Email"] {
        width: clamp(12.5rem, -1.786rem + 22.321vw, 25rem);
        height: 2rem;
        font-size: clamp(0.75rem, 0.464rem + 0.446vw, 1rem);
        margin: 0;
        padding: 0.5rem;
        border: 0;

      }

      input[type="submit"] {
        height: 3rem;
        margin: 0;
        padding: 0 1.5rem;
        text-transform: uppercase;
        border: 0;
        background-color: rgb(88, 96, 141);
        font-family: "DM Sans", sans-serif;
        font-size: clamp(0.75rem, 0.464rem + 0.446vw, 1rem);
        color: white;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .last {
    background-color: #242424;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10%;

    .nav {
      padding: 0.5rem 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #979797;
      font-family: "DM Sans", sans-serif;

      >a {
        color: #979797;
        text-decoration: none;
        padding: 0.5rem 1.5rem;
        border-right: 1px solid #979797;
        text-transform: capitalize;
        font-size: clamp(0.75rem, 0.464rem + 0.446vw, 1rem);

        &:hover {
          color: #E76A00;
        }
      }
    }

    .copynsocials {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      span {
        color: #979797;
      }

      .copyright {
        >span {
          font-size: clamp(1rem, 0.714rem + 0.446vw, 1.25rem);
        }

        >.imglogo {
          color: white;
        }
      }

      .socials {
        display: flex;
        flex-direction: column;
        font-family: "DM Sans", sans-serif;

        >span {
          margin-bottom: 8px;
        }

        .links {
          display: flex;
          flex-direction: row;
          gap: 5px;

          svg {
            width: 32px;
            height: 32px;
            color: white;
            background-color: #E76A00;
          }
        }
      }
    }
  }
}