#courses {

  section {
    width: 100%;
  }

  #home {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a3c4f3;
    background-image: linear-gradient(rgba(3, 57, 78, 0.5), rgba(3, 57, 78, 0.5)), url('https://img.freepik.com/premium-photo/green-environment-office-buildings-science-technology-park-chongqing-china_1112-9189.jpg?w=1380');
    background-size: cover;
    background-position: bottom;

    h1 {
      font-family: $fontSans;
      text-align: center;
      font-size: 52px;
      text-transform: uppercase;
      color: #ffd670;
      animation: normal;
      animation-name: opening;
      animation-duration: 0.5s;
      animation-iteration-count: 1;

      span {
        color: white;
      }
    }
  }

  #levels {
    margin-top: -75px;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .levelbox {
      aspect-ratio: 3/2;
      padding: 1rem;
      width: clamp(10.938rem, 5.58rem + 8.371vw, 15.625rem);
      height: 166px;
      color: white;
      transition: margin 0.25s;
      text-decoration: none;

      &:hover {
        transition: margin 0.25s;
        margin-top: -75px;
      }


      &.Engineering {
        background-color: #1D8755;
      }

      &.Socials {
        background-color: #2F78C6;
      }

      &.Laws {
        background-color: #A06931;
      }

      &.Medicine {
        background-color: #DF0C83;
      }

      svg {
        width: 44px;
        height: 44px;
      }

      h2 {
        font-family: $fontSans;
        margin: 0 3rem 2rem 0;
      }
    }
  }

  #diary {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    background-color: #414b4f;

    h2 {
      margin: 2rem 0 3rem 0;
      color: white;
      font-family: $fontSans;
      font-size: 40px;
    }

    .dates {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .date {
        background-color: #fcb900;
        padding: 2rem;
        min-width: clamp(7.813rem, 6.027rem + 2.79vw, 9.375rem);
        max-width: clamp(7.813rem, 6.027rem + 2.79vw, 9.375rem);
        scale: 1;
        transition: scale 0.25s;

        h4 {
          color: white;
          text-transform: uppercase;
          text-align: center;
          font-family: $fontSans;
          margin: 0;
          padding: 0;
          font-size: 26px;
        }

        p {
          text-align: center;
          margin: 0;
          margin-top: 0.25rem;
          font-family: $fontSans;
          font-weight: 400;
        }


        &:hover {
          scale: 1.1;
          transition: scale 0.25s;
        }
      }
    }
  }

  #alumni {
    height: 40vh;
    background-image: url("https://img.freepik.com/free-photo/chinese-city_1127-3682.jpg?w=1380&t=st=1698440673~exp=1698441273~hmac=17a514ac582cf3238902fead75b27e7ba9641c018a280d2a3868e8112ff087de");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: clamp(2.5rem, -3.214rem + 8.929vw, 7.5rem);

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: white;
      gap: 1rem;

      svg {
        width: 60px;
        height: 60px;
      }

      span {
        font-size: 32px;
        font-family: $fontSans;
        font-weight: 700;

        &.number {
          color: #fcb900;
        }

      }
    }
  }


  @media (max-width: 769px) {
    #home {
      height: 50vh;
      background-position: center;

      h1 {
        font-size: clamp(1.5rem, 1.143rem + 1.786vw, 2rem);
      }
    }

    #levels {
      flex-direction: column;
      gap: 1rem;
      padding: 1rem 0;
      margin: 0;
      align-items: center;

      .levelbox {
        width: 60%;

        &:hover {
          transition: none;
          margin-top: 0;
        }
      }

    }

    #diary {
      padding: 2.5rem 0 5rem 0;
      height: auto;

      h2 {
        margin: 0 0 3rem 0;
      }

      .dates {
        flex-direction: column;
        gap: 0.5rem;

        .date {
          padding: 2rem;
        }
      }
    }

    #alumni {
      flex-direction: column;
      gap: 1rem;
      height: auto;
      padding: 2.5rem 0;

      .box {
        width: 60%;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.3);
        justify-content: center;
        border-radius: 15px;
        font-family: $fontSans;
        gap: 0.5rem;
        font-weight: 700;

        svg {
          width: clamp(2rem, 1.263rem + 3.684vw, 3.75rem);
          height: clamp(2rem, 1.263rem + 3.684vw, 3.75rem);
        }

        span {
          font-size: clamp(1.5rem, 1.289rem + 1.053vw, 2rem);
        }
      }
    }
  }
}