#aboutus {
  .wallpaper {
    height: 100dvh;
    background: linear-gradient(rgba(3, 57, 78, 0.7), rgba(3, 57, 78, 0.7)), url(https://img.freepik.com/free-photo/royal-palace-madrid-spain_1398-4247.jpg?w=1380&t=st=1697227686~exp=1697228286~hmac=bb31866bffdf9abb9dc0c7379d18b6b6c2296ab15f9548ad6e87d35d3e8060a4);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;

    q {
      margin-top: 3rem;
      width: 60%;
      text-align: justify;
      font-family: 'Lato', sans-serif;
    }

    p {
      margin-top: 0;
      width: 60%;
      text-align: end;
      font-family: 'Lato', sans-serif;
    }

    .button {
      position: absolute;
      margin: 1rem;
      bottom: 0;
    }
  }

  #me {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    background-color: #f9f7f5;

    .mysection {
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .img {
        background-image: url('https://img.freepik.com/free-photo/abstract-blur-defocused-bookshelf-library_1203-9639.jpg?w=1380&t=st=1698093113~exp=1698093713~hmac=2aa87b6f555c1875cee69406cc7704670852e50be7747b5c011eba5e320e8296');
        background-position: -12rem;
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 20px;
        text-align: center;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        div {
          h3 {
            color: rgb(3, 57, 78);
            font-family: 'Lato', sans-serif;
            font-size: 20px;
            text-align: center;
          }

          h4 {
            font-family: 'Lato', sans-serif;
            font-size: clamp(1.25rem, 0.964rem + 0.446vw, 1.5rem);
            margin: 1rem 0;
          }

          p {
            height: auto;
            flex-grow: 1;
            text-align: justify;
            font-size: 12px
          }
        }

        .button {
          margin: 0 auto;
        }
      }
    }
  }

  .path {
    display: flex;
    flex-direction: column;
  }

  @media screen and (orientation: landscape) {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;

    .wallpaper {
      .imglogo {
        font-size: clamp(2.5rem, 1.357rem + 1.786vw, 3.5rem);
      }

      q {
        font-size: clamp(2.25rem, 0.821rem + 2.232vw, 3.5rem);
      }

      p {
        font-size: clamp(2rem, 1.429rem + 0.893vw, 2.5rem);
      }
    }

    .me {
      .mysection {
        width: 80%;
        flex-direction: row;
        gap: 4rem;

        img {
          max-width: 460px;
          border: 0.5rem solid #e0bc43;
        }
      }

      .content {
        div{
          h3{
            font-size: clamp(1.5rem, 0.929rem + 0.893vw, 2rem);
            margin: 0;
          }
          p {
            font-size: clamp(0.875rem, 0.732rem + 0.223vw, 1rem);
          }
        }
        .button {
          align-self: center;
          margin: 0;
        }
      }
    }

  }

}